@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 258 39% 49%;
		--primary-foreground: 0 0% 100%;

		--secondary: 261 87% 82%;
		--secondary-foreground: 0 0% 100%;

		--muted: 261 87% 82%;
		--muted-foreground: 260 20% 50%;

		--accent: 261 87% 82%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 100%;

		--border: 261 87% 82%;
		--input: 261 87% 82%;
		--ring: 20 14.3% 4.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 10%;
		--foreground: 0 0% 100%;

		--card: 240 10% 10%;
		--card-foreground: 0 0% 100%;

		--popover: 240 10% 10%;
		--popover-foreground: 0 0% 100%;

		--primary: 0 0% 100%;
		--primary-foreground: 258 39% 49%;

		--secondary: 0 0% 100%;
		--secondary-foreground: 261 87% 82%;

		--muted: 0 0% 100%;
		--muted-foreground: 258 39% 49%;

		--accent: 0 0% 100%;
		--accent-foreground: 258 39% 49%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 100%;

		--border: 0 0% 100%;
		--input: 0 0% 100%;
		--ring: 260 37% 37%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
